<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>404 Not Found</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <style>h1{margin-top:0}</style>
  </head>
  <body>
    <center><h1>404 Not Found</h1></center>
    <hr />
    <center>{Astro.generator}</center>
  </body>
</html>
